<md-fab-speed-dial md-open="false" md-direction="{{selectedDirection}}" ng-class="selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <i class="mdi mdi-plus"></i>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
      <i class="mdi mdi-twitter"></i>
    </md-button>
    <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
      <i class="mdi mdi-facebook"></i>
    </md-button>
    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
      <i class="mdi mdi-hangouts"></i>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
{{selectedDirection}}
